/* Mobile styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @apply tracking-wide;
  @apply px-12 pb-16;
}

.column {
  flex: 0 0 100%;
  margin-bottom: 1.5rem;
}

.column1 {
  @apply max-w-xs;
}

.column2 {
  @apply space-y-[1px];
}

.linkWrapper {
  @apply hover:underline;
}

/* Medium screen and above */
@screen md {
  .footer {
    justify-content: space-between;
    @apply flex-nowrap;
  }

  .column {
    flex: 1 1 33%;
    margin-bottom: 0;
  }

  .column1 {
    @apply mr-14;
  }
}

.expander {
  @apply fixed z-10;
  @apply transform transition-all duration-300;
}

.root {
  composes: expander;
  @apply w-full bottom-0;
  transform: translateY(calc(100% - 50px));
  @apply bg-grey-90;
  @apply text-white text-sm;
}

.root[data-expanded="true"] {
  @apply translate-y-0;
}

.bar {
  @apply py-4 px-12;
  @apply opacity-100 transition-opacity duration-300;
  @apply flex justify-between;
}

.bar .left {
  @apply space-x-8;
  @apply flex;
}

.bar .right {
}

.bar[data-expanded="true"] {
  @apply opacity-0;
}
