.footerContent[data-expanded="true"] {
  @apply translate-y-0;
}

.footerContent {
  @apply bg-grey-90 text-white;
  @apply fixed bottom-0 z-50 w-full;
  @apply transform transition-all duration-300;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @apply tracking-wide;
  @apply px-12 pb-20 py-12;
  @apply translate-y-full;
}

.column {
  flex: 0 0 100%;
  margin-bottom: 1.5rem;
}

.column1 {
  @apply max-w-xs;
}

.column2 {
  @apply space-y-[1px];
}

.column3 {
  @apply max-w-[22rem];
}

.linkWrapper {
  @apply hover:underline text-sm;
}

.bar {
  @apply bg-grey-90 text-white;
  @apply py-[0.8rem] pl-12 pr-4;
  @apply opacity-100 transition-opacity duration-300;
  @apply flex justify-between;
}

.bar .left {
  @apply space-x-8 ml-3;
  @apply flex items-center;
}

.bar .right {
}

.bar[data-expanded="true"] {
  @apply opacity-0;
}

.arrow {
  @apply absolute left-2 bottom-0  z-50 text-white;
}

@screen md {
  .footerContent {
    justify-content: space-between;
    @apply flex-nowrap;
  }

  .column {
    flex: 1 1 33%;
    margin-bottom: 0;
  }

  .column1 {
    @apply mr-14;
  }

  .column2 {
    @apply ml-12;
  }

  .bar {
    @apply px-12;
  }
}
