.container {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
}

.button {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: colors 200ms ease-in-out;
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); */
}

.menuButton {
  composes: button;
  @apply bg-white-60;
}

.toggleButton {
  composes: button;
  @apply bg-white-30 hover:bg-white-60;
}

.toggleButton[data-active="true"] {
  @apply bg-white-60;
}

.dropdown {
  @apply bg-white-60;
  position: absolute;
  top: 0;
  z-index: 20;
  width: 10rem;
  left: 100%;
}
